<fieldset data-hook="mirakl">
  <legend align="center"><%= Spree.t(:transaction, :scope => :mirakl) %></legend>

  <div class="row">

    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:state, :scope => :mirakl) %>:</dt>
        <dd><%= payment.state.titleize %></dd>
      </dl>
      <dl>
        <dt><%= Spree.t(:mirakl_store, :scope => :mirakl) %>:</dt>
        <dd><%= payment.source.try(:mirakl_store).try(:name) %>
      </dl>
    </div>
  </div>
</fieldset> 