<% content_for :page_title do %>
  <%= link_to Spree.t(:mirakl_stores), spree.admin_mirakl_stores_url %> /
  <%= @mirakl_store.name %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @mirakl_store } %>

<%= form_for [:admin, @mirakl_store] do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <div class="panel-footer text-center">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </div>
<% end %>

<% @mirakl_store.mirakl_refund_reasons.each do |mirakl_reason| %>
  <%= form_for mirakl_reason, url: admin_mirakl_store_map_refunds_path(mirakl_reason), method: :put do |f| %>
    <%= mirakl_reason.label %>
    <%= f.hidden_field :mirakl_reason_id, value: mirakl_reason.id %>
    <%= f.collection_check_boxes :refund_reason_ids, Spree::RefundReason.all, :id, :name %>
    <%= f.submit %>
  <% end %>
<% end %> 