<h2><%= Spree.t(:refund_reason_mapping) %></h2>
<%= form_tag(admin_mirakl_store_map_refunds_path(@mirakl_store),  method: :put) do |f| %>
  <table style="border-collapse: separate;border-spacing: 10px;">
    <tr>
      <th>Spree Reason</th>
      <th>Mirakl Reason</th>
    </tr>
    <%= fields_for :return_authorization_reason do |form| %>
      <% Spree::ReturnAuthorizationReason.all.each do |return_authorization_reason| %>
        <tr>
          <td><%= label_tag "#{return_authorization_reason.name}:" %></td>
          <td><%= form.select return_authorization_reason.id, options_for_select(@mirakl_store.mirakl_refund_reasons.all.collect{ |u| [u.label, u.id] }, @mirakl_store.mirakl_refund_reasons.joins(:return_authorization_reasons).where(spree_return_authorization_reasons: { id: return_authorization_reason.id }).first.try(:id) ) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  
  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'save' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), spree.admin_mirakl_stores_path(), id: 'cancel_link', icon: 'delete' %>
  </div>
<% end %> 